<div class="row header justify-content-center">
    <div class="col-md-12 d-flex ">
        <div class="col-md-5 d-flex align-items-center first-col-header ">
            <form action="/users/posts/search" method="get" id = "searchuser"   class="form ">
                <input type="search"  class="searchinput" name="search" id="search" placeholder="Search.." required>
                <a href="/users/posts/search"> <i class="fa fa-search" style="background-color: var(--primary);" id = search-btn ></i></a>
            </form>
        </div>
            
      
        <div class="col-md-7 d-flex align-items-center justify-content-end">
            <ul class ='top-nav-bar d-flex justify-content-evenly'>
                <a href="/users/posts" class =" a-list">
                    <li class="navbar-list"><i class="fa fa-home"></i>Home</li>
                </a>
                <a href="/users/profile/<%= user.id%>" class ="a-list">
                    <li class=" navbar-list"><i class="fa fa-user"></i></li>
                </a>
                <!-- <li class="active navbar-list"><i class="fa fa-home"></i></li>
                <li class="navbar-list"><i class="fa fa-user"></i></li> -->
                <li class="navbar-list"><i class="fa fa-bell"></i></li>
                <li class="navbar-list"><i class="fa fa-comment-dots"></i></li>
            </ul>
        </div>
    </div>
    
</div>

<script src="/js/post-page.js"></script>