<div class="row header">
    <div class="col-md-4">
        <img src="https://png.pngtree.com/element_our/png_detail/20181229/vector-chat-icon-png_302635.jpg" alt="" width="50" height="50">
        The Social Club
    </div>
    <div class="col-md-8">
        <ul>
            <% if(locals.user) { %>
            <li>
                <a href = "/users/profile/<%= user._id %>">
                    <%= locals.user.name%>
                </a>
               
            </li>
            <li>
                <button>
                    <a href = "/users/signout">
                        Sign Out
                    </a>
                </button>
            </li>
            <% } else { %>
                <li>
                    
                        <a href = "/users/signin">
                            <button type="submit" class="btn btn-primary btn-lg main-post-btn">
                                Log in to Engage
                            </button>
                           
                        </a>
                
                </li>
                <li>
                    
                        <a href = "/">
                            <button type="submit" class="btn btn-primary btn-lg main-post-btn">
                            Create New Account  
                        </button>
                        </a>
                   
                </li>
    
            <% } %>
        </ul>
    </div>
</div>