<% if(locals.user) { %>
    <div class="row main-post noextramargin">
        <div class="row noextramargin">
            
                <form action="/users/posts/createpost" method="POST" id = "postfeed">
                    <div class="form-floating">
                        <textarea class="form-control feed-post" name="feed_post" id="feed-post" style="
                        border: none;
                        background-color: #c3d3ea"></textarea>
                        <label for="floatingTextarea" style="
                        color: #6c757d"> What's on your mind?</label>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-lg main-post-btn">Post</button>
                      </div>
                </form> 
        </div>
        <div class="row noextramargin">
            <div class="col">
                <button type="submit" class="btn btn-primary post-btn lcs">Live Video</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary post-btn lcs">Photo/Video</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary post-btn lcs">Feeling/Activity</button>
            </div>
            
           
        </div>
        Hello from posts
       
    </div>
    <% } %>