<!-- 
    we need to achieve the following in order to ame our website more beautiful and user friendly

    1. image preview while uploading profile image
    2. ajax form req in the profile page
    3. redirect to the profile page after making a post instead of post page
    4. add a post button in the profile page
    5. change all the posts in the post page to ajax
    6. userimage should be updated with the post and comments instead of hard coding
    7. In the friends secion image of the indivisual users should be visible
        8. change the header and footer of the website




 -->