<link rel="stylesheet" href="/css/user_posts.css" />
<div class="row posts-body align-items-start justify-content-center">
  <div class="first-col align overflow-scroll">
    <div class="row">
        imp links
    </div>
  </div>

  <!-- post area begins here -->
  <div class="col-md-5 second-col overflow-auto">
        <!-- form to post begins here -->
        <%- include("_postform") -%>
        <!-- form to post ends here -->
        <br/>

        <!-- showing all the posts from the database starts here -->

        <% for(post of posts) {%> 
            <%- include("_showpost") -%>
        <br/>
        <% } %>
        <!-- showing all the posts from the database ends here -->
  </div>
  <!-- post area ends -->

  <div class="third-col align overflow-scroll">
        <!-- showing all the friends from the database starts here -->
        <% for(user of all_users) { %>
            <div class="row align-items-center mt-2 mb-2">
                <div class="col-md-2 align-self-center">
                    <img src="https://cdn.dribbble.com/users/146798/screenshots/6327584/panda-dribbble_4x.jpg?compress=1&resize=1600x1200&vertical=top" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                </div>
                <div class="col-md-10">
                    <ul class = "justify-content-start">
                        <li>
                        <a href="/users/profile/<%= user._id%>">
                                <h6><%= user.name %></h6>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        <% } %>
         <!-- showing all the friends from the database ends here -->
  </div>
</div>
