<link rel="stylesheet" href="/css/user_sign_in.css">
<!-- <div class="row header">
    <div class="col-md-4">
        
        
    </div>
    <div class="col-md-8">
        <ul>
            <li>
                <a href = "/">
                    <button type="submit" class="btn btn-primary btn-lg main-post-btn">
                    Create New Account  
                </button>
                </a>
            </li>
        </ul>
    </div>
</div> -->
<div class="row signin-body">
    <div class="col-md-12">
        <!-- <br><br>
        <h2>Log In to Engage</h2>
        <br> -->
        <div class="row d-flex justify-content-center">
            <!-- <div class="col-md-4"></div> -->
            
            <div class="col-md-3 design-form">
                <div class="row  d-flex justify-content-center">
                    <h2>Log in to Engage</h2>
                </div>
                <div class=" logo justigy-content-center align-items-center">
                    e
                </div>
                <br>
                <div class="row">
                    <form action = "/users/create-session" method= "POST">
                        <div class="mb-3">
                          <input type="email" class="form-control1" name="email" placeholder="Email Address" required>
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control1" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg main-post-btn">Log In to Engage</button>
                        <a href = "/" class="btn btn-primary btn-lg main-post-btn">
                            
                            Create New Account  
                        
                        </a>
                      </form>
                      <a href="/users/auth/google">
                        Log In with <i class="fa fa-google"></i>Google
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-5"></div> -->
        </div>
        
    </div>
</div>
