<link rel="stylesheet" href="/css/user_profile.css">
<div class="row profile-body">
    <h1>
        Socialley-X <%= title %> 
    </h1>
    <p>
        <h2>
            profile page of the user.
        </h2>
    </p>
    <div class="row">
        <div class="col-md-2">
    
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    name : <%= locals.user.name%>
                </li>
                <li>
                    email : <%= locals.user.email%>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
    
        </div>
    </div>
        
</div>



 