<link rel="stylesheet" href="/css/user_posts.css">
<div class="row posts-body">
    <div class="col-md-2 first-col">
        hello
        <br>
        Links to other pages
    </div>
    <div class="col-md-6 second-col">
        hello from posts
    </div>
    <div class="col-md-4 third-col">
        hello to yours friends list
    </div>
</div>