body{
    margin: 0;
    background-color: rgb(55, 54, 66);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
a{
    
    text-decoration: none;
}