.home-body{
    padding: 0em 1em;
    margin: 0em 1em;
    height: 80vh;
    align-items: center;

}
.design-form{
    background-color:#161b22;
    padding:2em;
    padding-bottom: 1em;
    border-radius:5px;
}
.form-control{
    background-color:#0d1117;
    border:none;
    border-radius:5px;
    padding:0.5em;
    color:rgb(252, 252, 252);
    font-size:1.25em;
    font-weight: 600;
}