.posts-body{
    padding: 0em 1em;
    margin: 0em 1em;
    height: 80vh;
    align-items: center;
}
.first-col{
    background-color:orange;
}
.second-col{
    background-color:green;
}
.third-col{ 
    background-color:blue;
}