.cover-photo{
    background-image: url('https://cdn.dribbble.com/users/175710/screenshots/14646642/media/6089295d9f6df94b9ecfaeda7cef621d.png?compress=1&resize=1600x1200&vertical=top');
    background-size: cover;
    background-position: center;
    height: 35vh;
}
.post-btn h6 {
    margin: 0;
    padding: 0.5em 1em;
}
.edit-profile-sec{
    margin-top: -3em;
    margin-bottom: 1em;
}
.profile-img{
    margin: 0;
    padding: 0;
}
.modal-content{
    background-color: var(--primary);
    background-color: var(--primary);
    height: 25vh;
}
.modal-body{
    display: flex;
    
}
.edit-profile-form{
    display: flex;

}
.main-post-btn{
    width: fit-content;
}
.post-btn:active{
    background-color: var(--hover);
    border: none;
}
.post-btn:focus{
    background-color: var(--secondary);
    border: none;
}

.no-pad h5{
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.no-pad h6{
    padding-left: 0;
    padding-top: 1em;
}
.edit-btn{
    font-weight: 600;
    padding: 0.8em 1.5em;
}